.spinner,
.spinner * {
	box-sizing: border-box;
}

.spinner {
	position: relative;
	overflow: hidden;
	padding: 2px;
	height: 100px;
	width: 100px;
}

.spinner .spinner__ring {
	animation: spinner-animation 1250ms cubic-bezier(0.68, -0.75, 0.265, 1.75)
		infinite forwards;
	border: 2px solid transparent;
	border-top-color: #3a79ff;
	position: absolute;
	border-radius: 50%;
	margin: auto;
	bottom: 0;
	right: 0;
	left: 0;
	top: 0;
}

.spinner .spinner__ring:nth-child(1) {
	height: calc(80px / 9 + 0 * 80px / 9);
	width: calc(80px / 9 + 0 * 80px / 9);
	animation-delay: calc(50ms * 1);
}

.spinner .spinner__ring:nth-child(2) {
	height: calc(80px / 9 + 1 * 80px / 9);
	width: calc(80px / 9 + 1 * 80px / 9);
	animation-delay: calc(50ms * 2);
}

.spinner .spinner__ring:nth-child(3) {
	height: calc(80px / 9 + 2 * 80px / 9);
	width: calc(80px / 9 + 2 * 80px / 9);
	animation-delay: calc(50ms * 3);
}

.spinner .spinner__ring:nth-child(4) {
	height: calc(80px / 9 + 3 * 80px / 9);
	width: calc(80px / 9 + 3 * 80px / 9);
	animation-delay: calc(50ms * 4);
}

.spinner .spinner__ring:nth-child(5) {
	height: calc(80px / 9 + 4 * 80px / 9);
	width: calc(80px / 9 + 4 * 80px / 9);
	animation-delay: calc(50ms * 5);
}

.spinner .spinner__ring:nth-child(6) {
	height: calc(80px / 9 + 5 * 80px / 9);
	width: calc(80px / 9 + 5 * 80px / 9);
	animation-delay: calc(50ms * 6);
}

.spinner .spinner__ring:nth-child(7) {
	height: calc(80px / 9 + 6 * 80px / 9);
	width: calc(80px / 9 + 6 * 80px / 9);
	animation-delay: calc(50ms * 7);
}

.spinner .spinner__ring:nth-child(8) {
	height: calc(80px / 9 + 7 * 80px / 9);
	width: calc(80px / 9 + 7 * 80px / 9);
	animation-delay: calc(50ms * 8);
}

.spinner .spinner__ring:nth-child(9) {
	height: calc(80px / 9 + 8 * 80px / 9);
	width: calc(80px / 9 + 8 * 80px / 9);
	animation-delay: calc(50ms * 9);
}

@keyframes spinner-animation {
	100% {
		transform: rotate(360deg);
	}
}
